/*Reset Css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color styles */
--primary-color: #FFFFFF;
--dark-text: #000000;
--bg-header: #255EE9;
--light-bg: #7289DA;
--bg-footer: #23272A;
--bg-section: #F6F6F6;
}

body {
    font-family: Helvetica, sans-serif;
}

header {
    background-color: var(--bg-header);
}

main {
    background-color: var(--primary-color);
}

footer {
    background-color: var(--bg-footer);
    color: var(--primary-color);
}

.d-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.d-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 50%;
}

.center-container {
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
}